*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    transition: background-color .6s, color .6s;
} 

#toggle-button {
    margin: 60px auto;
    width: 115px;
    height: 60px;
    background-color: black;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    display: flex;
    position: relative;
}

svg {
    width: 40px;
    height: 40px;
}

#circle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    transition: transform .5s, background-color .5s;
    /* will-change: transform; */
}

.darkMode {
    transform: translateX(calc(100% + 10px));
}

h1 {
    font-size: 6rem;
    margin: 100px auto;
    text-align: center;
}

.colorWhite {
    color: white;
}

.colorBlack {
    background-color: black;
}